DB_HOST=localhost
DB_PORT=3306
DB_NAME=portal_propriedade
DB_USER=root
DB_PASS=
MAIL_FROM=noreply@portalpropriedade.local
MAIL_FROM_NAME=Portal para Registro de Propriedade
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
APP_SECRET=
APP_URL=http://localhost:8000
APP_ENV=development
